{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="masthead" style="background-image:url({% static 'assets/img/header.jpg' %});">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span class="text-nowrap text-light">Welcome!</span></div>
            <div class="intro-heading text-uppercase"><span>Changing the way we buy, sell, and grow produce.</span></div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="#services">Learn More</a></div>
    </div>

</header>
<!-- SERVICES - DONT CURRENTLY NEED -->
<!-- <section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Services</h2>
                <h3 class="text-muted section-subheading">Let us help you grow your plants efficiently.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="la la-leaf fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">WeGrowTogether</h4>
                <p class="text-muted">Monitor your plants and meet there needs efficiently giving them their best which they deserve. "Healthy planet Healthy lives"!</p>
            </div>
            <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-group fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Community</h4>
                <p class="text-muted">Enjoy the experience of community with trade in feature for your produces where you grow together, share together!</p>
            </div>
            <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-wpexplorer fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Our Few Cents</h4>
                <p class="text-muted">Get access to our plant database and enjoy the recommendations to add something more to your plant knowledge.</p>
            </div>
        </div>
    </div>
</section> -->

<section id="portfolio" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Features</h2>
                <h3 class="section-subheading text-muted">Check out what you can do!</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6 col-md-4 portfolio-item">
              <!-- <a class="nav-item nav-link" href="{% url 'community:community_home' %}">Community</a> -->
                <a href="{% url 'garden:get_name' %}" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/1-thumbnail.jpg' %}"></a>
                <div class="portfolio-caption">
                    <h4>Check Vitals</h4>
                    <p class="text-muted">Monitor your plant vitals!</p>
                </div>
            </div>


            <!-- <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/2-thumbnail.jpg' %}"></a>
                <div class="portfolio-caption">
                    <h4>Plant Care Options</h4>
                    <p class="text-muted">Automated/Manual Plant Care with notifications</p>
                </div>
            </div> -->

            <!-- <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="{% url 'community:community_home' %}" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/3-thumbnail.jpg' %}"></a>
                <div class="portfolio-caption">
                    <h4>Community Benefits</h4>
                    <p class="text-muted">Sharing is Caring!</p>
                </div>
            </div> -->

            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="{% url 'map:map_home' %}" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/4-thumbnail.jpg' %}"></a>
                <div class="portfolio-caption">
                    <h4>What's growing near by</h4>
                    <p class="text-muted">Connect to people and their produce</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="{% url 'community:community_home' %}" class="portfolio-link" >
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid img-fluid" src="{% static 'assets/img/portfolio/5-thumbnail.jpg' %}"></a>
                <div class="portfolio-caption">
                    <h4>Discussion Board</h4>
                    <p class="text-muted">Let's talk!</p>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/6-thumbnail.jpg' %}"></a>
                <div class="portfolio-caption">
                    <h4>Explore our Plant Database</h4>
                    <p class="text-muted">Get to know more on plants with us!</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase">About US</h2>
                <h3 class="text-muted section-subheading">Our journey to reach here.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group timeline">
                    <li class="list-group-item">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/1.jpg' %}"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March-2019</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">With our passion for gardening and teachnology, we had one vision to bring them together to let people enjoy gardening withour failures on small steps like caring on time. We are here to guide you on time and enrich
                                    your gardening skills.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/2.jpg' %}"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2019</h4>
                                <h4 class="subheading">Our little group was Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We are team of fantastic four tech women who shares same vision of greener world with technology to support it.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/3.jpg' %}"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>May 2019</h4>
                                <h4 class="subheading">Transition Phase</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Bringing all beautiful ideas together and to life to cheerish our dream bit closer.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/4.jpg' %}"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August-2019</h4>
                                <h4 class="subheading">Transition to Service</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Our constant efforts and hard work got us riped fruit of our dream. Hope you enjoy our service and make it a bigger world to cheerish.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part<br>&nbsp;Of Our<br>&nbsp;Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="team" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'assets/img/team/kajal.jpg' %}">
                    <h4>Kajal Vekariya</h4>
                    <p class="text-muted">Lead Developer</p>
                    <!-- <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'assets/img/team/mon.jpg' %}">
                    <h4>Monika Wasylkiewicz</h4>
                    <p class="text-muted">Lead Developer</p>
                    <!-- <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'assets/img/team/maya.jpg' %}">
                    <h4>Maya Miller</h4>
                    <p class="text-muted">Lead Developer</p>
                    <!-- <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'assets/img/team/meg.png' %}">
                    <h4>Meghan McGee</h4>
                    <p class="text-muted">Lead Developer</p>
                    <!-- <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static 'assets/img/clients/creative-market.jpg' %}"></a></div>
            <div class="col-sm-6 col-md-3"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static 'assets/img/clients/designmodo.jpg' %}"></a></div>
            <div class="col-sm-6 col-md-3"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static 'assets/img/clients/envato.jpg' %}"></a></div>
            <div class="col-sm-6 col-md-3"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static 'assets/img/clients/themeforest.jpg' %}"></a></div>
        </div>
    </div>
</section>
<section id="contact" style="background-image:url('{% static 'assets/img/map-image.png'%}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">Learn us better anytime, we get back to you as soon as possible.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" name="contactForm" novalidate="novalidate">
                    <div class="form-row">
                        <div class="col col-md-6">
                            <div class="form-group"><input class="form-control" type="text" required="" id="name" placeholder="Your Name *"><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                            <div class="form-group"><input class="form-control" type="email" required="" id="email" placeholder="Your Email *"><small class="form-text text-danger help-block lead"></small></div>
                            <div class="form-group"><input class="form-control" type="tel" required="" placeholder="Your Phone *"><small class="form-text text-danger help-block lead"></small></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><textarea class="form-control" required="" id="message" placeholder="Your Message *"></textarea><small class="form-text text-danger help-block lead"></small></div>
                        </div>
                        <div class="col">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div><button class="btn btn-primary btn-xl text-uppercase" type="submit" id="sendMessageButton">Send Message</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8"><span class="copyright">Copyright&nbsp;© SmartPlanting2019</span></div>
            <!-- <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div> -->
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="{% static 'assets/img/portfolio/1-full.jpg' %}" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="{% static 'assets/img/portfolio/2-full.jpg' %}" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal3">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="{% static 'assets/img/portfolio/3-full.jpg' %}" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal4">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="{% static 'assets/img/portfolio/4-full.jpg' %}" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal5">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="{% static 'assets/img/portfolio/5-full.jpg' %}" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal6">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="{% static 'assets/img/portfolio/6-full.jpg' %}" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
