{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block content %}
<h1 class="text-center">Seach for Veggies!</h1>
<br>
<div class="modal-body row">
  <div class="col-md-6">
    <!-- Form to add new item -->
    <h5>Add Item for Sale</h5>
    <form method='POST'>
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>

    <!-- <form method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
      </table> -->
      <!-- <button type="submit" name="button">Submit</button> -->

    <!-- </form> -->
  </div>
  <div class="col-md-6">
    {% leaflet_js %}
    {% leaflet_css %}
    <style type="text/css">#gis {width:100%;height:100%;}</style>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"> </script>
    <script type="text/javascript">
      function produce_layers(map,options){
        var locations = new L.GeoJSON.AJAX("{% url 'map:loc' %}", {
          onEachFeature: function(feature,layer){
            layer.bindPopup(feature.properties.produceName);
        }});
          locations.addTo(map);
      }
    </script>

    {% leaflet_map "gis" callback="window.produce_layers" %}
  </div>



</div>
{% endblock %}








<!-- <!DOCTYPE html>

<html lang="en" dir="ltr">
{% load static %}
{% load leaflet_tags %}
  <head>
    <meta charset="utf-8">
    <title>Search for Veggies!</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <!-- ADD MAP TO PAGE -->
    <!-- <style type="text/css">#gis {width:50%;height:25%;}</style> -->
    <!-- <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"> </script> -->
  <!-- </head> -->
  <!-- <body> -->
    <!-- <h1>Produce Search</h1>
    <script type="text/javascript">
      function produce_layers(map,options){
        var locations = new L.GeoJSON.AJAX("{% url 'map:loc' %}", { -->
          <!-- // onEachFeature: function(feature,layer){
          //   layer.bindPopup(feature.properties.produceName);
        });
          locations.addTo(map);
      } -->
    <!-- </script>

    {% leaflet_map "gis" callback="window.produce_layers" %}
  </body> -->
<!-- </html> -->
