{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %} {% providers_media_js %} <!-- for all auth-->
<html lang="en">
{% block content%}
<div class="row">
    <div class="col-md-4">
    <div class = "content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <p><a href="{% provider_login_url 'facebook' %}">Log in With FB</a></p><!-- for all auth-->
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class = "border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
    </div>
</div>
{% endblock content %}
