{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n static %}{% load postman_tags %}
{% block content%}
<div class="row">
    <div class="col-md-6">

   <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
       <form method="POST" enctype="multipart/form-data" data-cities-url="{% url 'ajax_load_cities' %}"> <!--enctype: saves image in the background -->
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
       </form>
       </div>
    </div>
        <!--  added for dropdown cities      -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
          <script>
          $(document).ready(function(){
            $("#id_province").change(function () {
              var url = 'http://'+window.location.hostname + ':8000/load-cities/';
              var provinceId = $(this).val();
              $.ajax({
                url: url,
                data: {
                  'province': provinceId
                },
                success: function (data) {
                  $("#id_city").html(data);
                }
              });
            });
            });
          </script>

           <!-- added for postman -->
           <div class="col-md-4">
             <div class="content-section">
            <h3>Messages</h3>
            <p class='text-muted'>You can put any information here you'd like.
                <ul id="postman_menu">{% postman_unread as unread_count %}
                 <li><a href="{% url 'postman:inbox' %}">&raquo;&nbsp;{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
                 <li><a href="{% url 'postman:sent' %}">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
                 <li><a href="{% url 'postman:write' %}">&raquo;&nbsp;{% trans "Write" %}</a></li>
                 <li><a href="{% url 'postman:archives' %}">&raquo;&nbsp;{% trans "Archives" %}</a></li>
                 <li><a href="{% url 'postman:trash' %}">&raquo;&nbsp;{% trans "Trash" %}</a></li>
                </ul>
            </p>
            </div>
           </div>

        </div>
{% endblock content %}
