{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="row">
    <div class="col-md-4">
    <div class = "content-section">
        <form method="POST" enctype="multipart/form-data" data-cities-url="{% url 'ajax_load_cities' %}">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class = "border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
    </div>
</div>
    <!--    added for cities dropdown -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script>
      $(document).ready(function(){
        $("#id_province").change(function () {
          var url = 'http://'+window.location.hostname + ':8000/load-cities/';
          var provinceId = $(this).val();
          console.log('url' + url);
          $.ajax({
            url: url,
            data: {
              'province': provinceId
            },
            success: function (data) {
              $("#id_city").html(data);
            }
          });
        });
        });
      </script>
{% endblock content %}
