<option value="">---------</option>
{% for sensor in sensors %}
<option value="S{{ sensor.pk }}">{{ sensor.sensorName }}</option>
{% endfor %}
{% for control in controls %}
<option value="C{{ control.pk }}">{{ control.controlName }}</option>
{% endfor %}
