{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}



<h1>Welcome {{ request.user.username }}! </h1>
<div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>My current gardens</h2>
    <div class="gardenList">
      <table id='list_table_gardenData'>
        <thead>
          <tr>
            <th>Garden Name</th>
            <th>Plant</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <!-- <tr>
        {% for garden in gardenQuery %}
          <td> {{ garden.gardenName }} </td>
          <td> {{ garden.plantName }} </td>
          {% endfor %}
        </tr> -->
      </table>
    </div>

  <button type="submit" class="btn deleteGarden" name='deleteGarden' data-toggle="modal" data-target="#deleteGardenForm">Delete Garden</button>
  <button type="submit" class="btn deletePlant" name='deletePlant' data-toggle="modal" data-target="#deletePlantForm">Delete Plant</button>

    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="deleteGardenForm">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <h2>Delete a Garden </h2>
                    <form method="POST">
                      {% csrf_token %}
                      <table id="listOfGardens">

                      </table>
                      <button type="submit" class="btn deleteGarden" name='deleteGarden'>Delete</button>
                      <button type="submit" class="btn deleteGarden" name='cancelRequest' formnovalidate>Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>









  <h2>Let's get started!</h2>

  <p> Step 1: </p>
  <button type="submit" class="btn addGarden" name='addGarden' data-toggle="modal" data-target="#addGardenForm">Add Garden</button>


  <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="addGardenForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Add a Garden </h2>
                  <form method="POST">
                    {% csrf_token %}
                    <table>
                      {{ form1 }}
                    </table>
                    <button type="submit" class="btn addGarden" name='addNewGarden'>Save</button>
                    <button type="submit" class="btn addGarden" name='cancelRequest' formnovalidate>Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p> Step 2: </p>
  <button type="submit" class="btn addPlants" name='addPlant' data-toggle="modal" data-target="#addPlantForm">Add Plant to Garden</button>
  <p> (only if your garden has more than one plant)

  <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="addPlantForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Add a Plant to Your Garden </h2>
                  <form method="post">
                    {% csrf_token %}
                    <table>
                      {{ form4 }}
                    </table>
                    <button type="input" class="btn addGarden" name='addNewPlants'>Save</button>
                    <button type="submit" class="btn addGarden" name='cancelRequest' formnovalidate>Cancel</button>
                    <!-- <button type="submit" class="btn addGarden" name='addPlantLimits'>Import Growth Limits</button> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="addGardenForm">
    <h2>Add a Garden </h2>
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form1 }}
      </table>
      <button type="submit" class="btn addGarden" name='addGarden' data-dismiss="modal" onclick="loadGardenForm()">Save</button>
      <button type="submit" class="btn addGarden" name='addGarden' data-dismiss="modal" onclick="closeGardenForm()">Cancel</button>
    </form>
  </div> -->
<p>Step 3: Set up Sensors and Control </p>
<button type="submit" class="btn addGarden" name='addSensor' data-toggle="modal" data-target="#addSensorForm">Add Control or Sensor</button>
<button type="submit" class="btn addGarden" name='addSensor' data-toggle="modal" data-target="#modifySensorForm">Modify Existing Control or Sensor</button>

<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="addSensorForm">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Add a Sensor or Controller </h2>
                  <form method="post">
                    {% csrf_token %}
                    <table>
                    {{ form2 }}
                    </table>
                    <button type="submit" class="btn addSensor" name='addNewSensor' >Save</button>
                    <button type="submit" class="btn addSensor" name='cancelRequest' formnovalidate>Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="modifySensorForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Modify a Sensor or Controller </h2>
                    <form method="post">
                      {% csrf_token %}
                      <table>
                      {{ form2b }}
                      </table>
                      <button type="submit" class="btn addSensor" name='modifySensor'>Save</button>
                      <button type="submit" class="btn addSensor" name='cancelRequest' formnovalidate>Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <p>Step 4: How much control do you want of your garden? </p>
    <button type="submit" class="btn addGarden" name='controlLevel1' onclick="{% url 'garden:load_preset_conditions' %}">Automate Everything!</button>
    <button type="submit" class="btn addGarden" name='controlLevel2' data-toggle="modal" data-target="#addConditionsForm">Input my own growing conditions</button>
    <button type="submit" class="btn addGarden" name='controlLevel3' onclick="{% url 'garden:no_conditions' %}">No controls, I just want the data</button>


      <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="addConditionsForm">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 mx-auto">
                    <div class="modal-body">
                      <h2>Add a Sensor or Controller </h2>
                        <form method="post">
                          {% csrf_token %}
                          <table>
                          {{ form5 }}
                          </table>
                          <button type="submit" class="btn addSensor" name='addPlantConditions'>Save</button>
                          <button type="submit" class="btn addSensor" name='cancelRequest' formnovalidate>Cancel</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>







    <h2>Check out your Garden!</h2>
    <p>Select Elements to Examine</p>
    <!-- <form id="HardwareForm" data-hardware-url="{% url 'garden:ajax_load_hardware' %}" novalidate> -->
      {% csrf_token %}
      <table id='hardwareForm' data-hardware-url="{% url 'garden:ajax_load_hardware' %}">
        {{ form3.as_table }}
      </table>
      <button type="submit" name='addToView' onclick="getElementsToView()">Add =></button>
    <!-- </form> -->



    <form method="post" id="SelectedHardwareForm" data-hardware-url="{% url 'garden:ajax_copied_hardware' %}" novalidate>
      {% csrf_token %}
      <table>
        {{ form6.as_table }}
      </table>
      <button type="reset" name="removeFromChart" onclick="deleteFromForm()">Remove <=</button>
    </form>

    <div class='col-sm-6'>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>


    <div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <link rel="script" href="{% static '/garden/updateChart.js' %}" type='text/javascript'>
    <link rel="script" href="{% static '/garden/updateGardenTable.js' %}" type='text/javascript'> -->
    <!-- <script src="{% static "/garden/updateGardenTable.js" %}"></script> -->
    <script type='text/javascript' src="{% static 'garden/updateGardenTable.js' %}" ></script>
    <script type='text/javascript' src="{% static 'garden/updateChart.js' %}" ></script>
    <script type='text/javascript' src="{% static 'garden/updateLists.js' %}" ></script>


<style>
  tr { cursor: default; }
.highlight { background: yellow; }
</style>

{% endblock %}
