<option value="">---------</option>
{% for sensor in sensors %}
<option value="S{{ sensor.id }}">{{ sensor.sensorName }}</option>
{% endfor %}
{% for control in controls %}
<option value="C{{ control.id }}">{{ control.controlName }}</option>
{% endfor %}
