



<h2>My current gardens</h2>
  <div class="gardenList">
    <table id='list_table_gardenData'>
      <thead>
        <tr>
          <th>Garden Name</th>
          <th>Plant</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <!-- <tr>
      {% for garden in gardenQuery %}
        <td> {{ garden.gardenName }} </td>
        <td> {{ garden.plantName }} </td>
        {% endfor %}
      </tr> -->
    </table>
  </div>


  <form action="/api/test-form/" method="post">
      {% csrf_token %}
      {% render_form serializer2 %}
      <input type="submit" value="Save" />
  </form>
