<tbody>
{% for sensor in sensors %}
<tr id="{{ sensor.garden.id }}" >
  <td> {{ sensor.garden.gardenName }} </td>
  <td id="S{{ sensor.id }}"> {{ sensor.sensorName }} </td>
  <td> {{ sensor.status }} </td>
</tr>
{% endfor %}
{% for control in controls %}
<tr id="{{ control.garden.id }}" >
  <td> {{ control.garden.gardenName }} </td>
  <td id="C{{ control.id }}"> {{ control.controlName }} </td>
  <td> {{ control.status }} </td>
</tr>
{% endfor %}
</tbody>
