{% extends 'base.html' %}

{% load static %}

{% block content %}
  <br>

  <div class="container">

    {% block sidebar %}
    {% endblock%}



      <div class="content">
        {% block community_content %}
        {% endblock %}
      </div>
    </div>
    <div class="push"></div>



    <script src="{% static 'community/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'community/js/popper.min.js' %}"></script>
    <script src="{% static 'community/js/bootstrap.min.js' %}"></script>
    {% block javascript %}{% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42049022-13"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-42049022-13');</script>

{% endblock %}
