{% extends 'community/community_base.html' %}

{% load static %}

{% block title %}Start a New Question{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'community:community_home' %}">Questions</a></li>
  <li class="breadcrumb-item active">New Question</li>
{% endblock %}

{% block community_content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'community/includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}
