{% extends 'community/community_base.html' %}

{% load gravatar %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra%}
{% endblock %}

{% block title %}{{ question.subject }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'community:community_home' %}">Questions</a></li>
  <li class="breadcrumb-item active">{{ question.subject }}</li>
{% endblock %}

{% block sidebar %}
<style>
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

        /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

        /* Active/current link */
        .sidebar a.active {
        background-color: #0066ff;
        color: white;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
        }

        /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
        div.content {
          margin-left: 200px;
          padding: 1px 16px;
          height: 1000px;
        }

        /* On screens that are less than 700px wide, make the sidebar into a topbar */
        @media screen and (max-width: 700px) {
          .sidebar {
            width: 100%;
            height: auto;
            position: relative;
          }
          .sidebar a {float: left;}
          div.content {margin-left: 0;}
        }

        /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
        @media screen and (max-width: 400px) {
          .sidebar a {
            text-align: center;
            float: none;
          }
        }

  </style>
  <div class="sidebar">
    <a href="{% url 'community:community_home' %}">All Questions</a>
    <a href="{% url 'community:tagged' %}">Tags</a>
    <a href="#">FAQ</a>
  </div>
{% endblock %}

{% block community_content %}

<!-- QUESTION -->
  <div class="card mb-4 mb-2 border-dark">
    <h5 class="card-header bg-dark text-white">{{ instance.subject }}</h5>
    <div class="card-body">
      <p class="card-text">{{ instance.message }}</p>
    </div>
  </div>
<!-- END QUESTION -->

<br/>

{% if posts %}<h4>Answers</h4>{% endif %}

<div >


{% for post in posts %}
  <hr/>
  <blockquote style=" background: #ffffff;  margin: 1.5em 10px; padding: 0.5em 10px;">
    <div class="row">
      <div class="column">

        <div class="vote-buttons">
          <button type="submit" class="vote" data-id="{{ post.pk }}" data-vote="up" style="background-color: Transparent; border: none; margin-left: 40px;"><i class="fa fa-caret-up" style="font-size:48px;"></i></button>
          <p id="_appendHere{{ post.pk }}" class="_appendHere{{ post.pk }}" data-id="{{ post.pk }}" style="margin-left: 53px;">{{ post.votes_total }}</p>
          <button type="submit" class="vote" data-id="{{ post.pk }}" data-vote="down" style="background-color: Transparent; border: none; margin-left: 40px;"><i class="fa fa-caret-down" style="font-size:48px;"></i></button>
        </div> <!-- .votebuttons -->
      </div>
      <div class="column">
        <br/>
        <p style="margin-left: 40px;"> {{ post.message }} </p>
        {% if post.children.count == 0 %}
          <p style="margin-left: 55px;">via {{ post.created_by.username }} | {{ post.created_at}}</p>
        {% endif %}

        {% if post.children.count == 1 %}
          <p style="margin-left: 55px;">via {{ post.created_by.username }} | {{ post.created_at}} | {{ post.children.count }} Comment</p>
        {% endif %}

        {% if post.children.count > 1 %}
          <p style="margin-left: 55px;">via {{ post.created_by.username }} | {{ post.created_at}} | {{ post.children.count }} Comments</p>
        {% endif %}
      </div>
    </div>

    <style>
      .arrow-up {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        border-bottom: 20px solid black;
      }

      .arrow-down {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        border-top: 20px solid black;
      }

      .column {
        float: left;
      }

      .left {
        width: 35%;
      }

      .right {
        width: 65%;
      }

    </style>

    <div class="" style=" border-left: 20px solid #ffffff; margin: 10px; margin-left: 85px;">
      <hr/>
    </div>

    <div class="answer-replies"  style=" border-left: 20px solid #ffffff; margin: 10px; margin-left: 85px;">
      {% for child_post in post.children %}

        <p><small>
          {{ child_post.message }} - via {{ child_post.created_by.username }} | {{ child_post.created_at }}
          {% if child_post.created_by == user %}
            |<a href="{% url 'community:edit_post' child_post.question.pk child_post.pk %}"> Edit</a>
          {% endif %}
        </small></p>
          <hr/>
      {% endfor %}

      {% if user.is_authenticated %}
      <a href="#" class="comment-reply-btn">
          <small>Add a Comment</small>
      </a>
      <div class="comment-reply" style="display:none;">

        <form action="." method="POST">
          {% csrf_token %}
          {{ posts_form|crispy }}
          <input type="hidden" name="parent_id" value="{{ post.pk }}">
          <input type="submit" name="" value="Reply" class="btn btn-primary">
        </form>
      </div>
      {% endif %}
    </div>




  </blockquote>
  {% endfor %}
  </div>

  <div class="answer-form">
    <hr/>
    <br/>
    <h4>Your Answer</h4>
    <form action="." method="POST">
      <br/>

      {% csrf_token %}
      {{ posts_form|crispy }}
      <input type="submit" name="" value="Reply" class="btn btn-primary">
    </form>
  </div>


  <!-- JAVASCRIPT -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">

    $(document).ready(function(){
      $(".comment-reply-btn").click(function(event){
        console.log("COMMENT REPLY")
        event.preventDefault();
        // stuff = JSON.stringify(this.is_parent());
        // console.log(stuff);
        $(this).next(".comment-reply").fadeToggle();
      });
    });

    $(".vote").click(function () {
      console.log("IN AJAX")
      var id = $(this).data("id"); //get data-id
      console.log(id);
      var vote_type = $(this).data("vote"); //get data-vote
      var score = $('#_appendHere' + id);
      console.log(score)

      $.ajax({
        type: "POST",
        url: "{% url 'community:upvote' %}",
        data: {
          'id': id,
          'vote_type':vote_type,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data){
          console.log(data);
          score.html(data);
        }


      })

    });




  </script>
  <!-- END JAVASCRIPT -->

{% include 'community/includes/pagination.html' %}

{% endblock %}
