{% extends 'community/community_base.html' %}

{% load static %}
{% load humanize %}

{% block sidebar %}
<style>
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

        /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

        /* Active/current link */
        .sidebar a.active {
        background-color: #0066ff;
        color: white;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
        }

        /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
        div.content {
          margin-left: 200px;
          padding: 1px 16px;
          height: 1000px;
        }

        /* On screens that are less than 700px wide, make the sidebar into a topbar */
        @media screen and (max-width: 700px) {
          .sidebar {
            width: 100%;
            height: auto;
            position: relative;
          }
          .sidebar a {float: left;}
          div.content {margin-left: 0;}
        }

        /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
        @media screen and (max-width: 400px) {
          .sidebar a {
            text-align: center;
            float: none;
          }
        }

  </style>
  <div class="sidebar">
    <a class="active" href="{% url 'community:community_home' %}">All Questions</a>
    <a href="{% url 'community:tagged' %}">Tags</a>
    <a href="#">FAQ</a>
  </div>
{% endblock %}

{% block community_content %}
  <div class="mb-4">
    <h2 style="display:inline-block;">All Questions</h2>

    <a href="{% url 'community:new_question' %}" class="btn btn-primary" style="float:right;">New Question</a>

  </div>

  <div class="">
    <form class="" action="" method="GET">
      <input type="text" placeholder="Search Questions" name="q" value="">
      <input type="submit" name="" value="Search">

    </form>
  </div>



  <table class="table table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Question</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for question in object_list %}
        {% url 'community:question_posts' question.pk as question_url %}
        <tr>
          <td>
            <p class="mb-0">
              <a href="{{ question_url }}" style="font-size: 20px;">{{ question.subject }}</a>

              <style>
              ul#menu li {
                display:inline;
              }
              </style>

              <ul id="menu">


              {% for tag in question.tags.all %}
                <a href="{% url 'community:question_tags' tag.pk %}" class="btn btn-primary btn-sm"><li> {{ tag }} </li></a>
              {% endfor %}

              </ul>

            </p>
            <small class="text-muted">
              Pages:
              {% for i in question.get_page_range %}
                <a href="{{ question_url }}?page={{ i }}">{{ i }}</a>
              {% endfor %}
              {% if question.has_many_pages %}
              ... <a href="{{ question_url }}?page={{ question.get_page_count }}">Last Page</a>
              {% endif %}
            </small>
          </td>
          <td class="align-middle">{{ question.starter.username }}</td>
          <td class="align-middle">{{ question.replies }}</td>
          <td class="align-middle">{{ question.views }}</td>
          <td class="align-middle">{{ question.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'community/includes/pagination.html' %}

{% endblock %}
