{% extends 'community/community_base.html' %}

{% load gravatar %}

{% block community_content %}
  <div class="mb-4">
    {% for name in tag_name %}
    <h2 style="display:inline-block;">Questions tagged: {{ name }}</h2>
    {% endfor %}
    <a href="{% url 'community:new_question' %}" class="btn btn-primary" style="float:right;">New Question</a>
  </div>



<!-- QUESTIONS ASSOCIATED WITH CERTAIN TAGS.... -->
  <table class="table table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Question</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for question in object_list %}
        {% url 'community:question_posts' question.pk as question_url %}
        <tr>
          <td>
            <p class="mb-0">
              <a href="{{ question_url }}" style="font-size: 20px;">{{ question.subject }}</a>

              <style>
              ul#menu li {
                display:inline;
              }
              </style>

              <ul id="menu">


                {% for tag in question.tags.all %}
                  <a href="{% url 'community:question_tags' tag.pk %}" class="btn btn-primary btn-sm"><li> {{ tag }} </li></a>
                {% endfor %}

              </ul>

            </p>
            <small class="text-muted">
              Pages:
              {% for i in question.get_page_range %}
                <a href="{{ question_url }}?page={{ i }}">{{ i }}</a>
              {% endfor %}
              {% if question.has_many_pages %}
              ... <a href="{{ question_url }}?page={{ question.get_page_count }}">Last Page</a>
              {% endif %}
            </small>
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>





  {% include 'community/includes/pagination.html' %}

{% endblock %}
