{% extends 'community/community_base.html' %}

{% load humanize %}

{% block sidebar %}
<style>
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

        /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

        /* Active/current link */
        .sidebar a.active {
        background-color: #0066ff;
        color: white;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
        }

        /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
        div.content {
          margin-left: 200px;
          padding: 1px 16px;
          height: 1000px;
        }

        /* On screens that are less than 700px wide, make the sidebar into a topbar */
        @media screen and (max-width: 700px) {
          .sidebar {
            width: 100%;
            height: auto;
            position: relative;
          }
          .sidebar a {float: left;}
          div.content {margin-left: 0;}
        }

        /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
        @media screen and (max-width: 400px) {
          .sidebar a {
            text-align: center;
            float: none;
          }
        }

</style>
  <div class="sidebar">
    <a href="{% url 'community:community_home' %}">All Questions</a>
    <a class="active" href="{% url 'community:tagged' %}">Tags</a>
    <a href="#">FAQ</a>
  </div>
{% endblock %}

{% block community_content %}


  <div class="mb-4">
    <h2 style="display:inline-block;">Tags</h2>
    <a href="{% url 'community:new_question' %}" class="btn btn-primary" style="float:right;">New Question</a>
  </div>

  <div class="">
    <p>A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.</p>

  </div>


      <div class="row">
      {% for tag in tags %}
          <div class="col-sm-6">
            <div class="img-thumbnail">
              <div class="caption">
                <h3>{{ tag.name }}</h3>
                <p>Number of times tagged: {{ tag.num_times }}</p>

                <a href="{% url 'community:question_tags' tag.pk %}" class="btn btn-primary btn-sm"> Questions </a>



              </div>
            </div>
          </div>

        {% cycle "" "<div class='col-sm-12'><hr/></div></div><div class='row'>" %}
      {% endfor %}
      </div>



  {% include 'community/includes/pagination.html' %}

{% endblock %}
