<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <footer>
      {% if post.children.count < 1 %}
        <p>via {{ post.created_by.username }} | {{ post.created_at}} | {{ post.children.count }} Comment</p>
      {% endif %}
      {% if post.children.count >= 1 %}
        <p>via {{ post.created_by.username }} | {{ post.created_at}} | {{ post.children.count }} Comments</p>
      {% endif %}
      {% if post.created_by == user %}
        <p>|</p><a href="{% url 'community:edit_post' post.question.pk post.pk %}"> Edit</a>
      {% endif %}

    </footer>

  </body>
</html>
