{% extends 'community/community_base.html' %}

{% load gravatar %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra%}
{% endblock %}

{% block title %}{{ question.subject }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'community:community_home' %}">Questions</a></li>
  <li class="breadcrumb-item active">{{ question.subject }}</li>
{% endblock %}

{% block community_content %}

<!-- QUESTION -->
  <div class="card mb-4 mb-2 border-dark">
    <h5 class="card-header bg-dark text-white">{{ instance.subject }}</h5>
    <div class="card-body">
      <p class="card-text">{{ instance.message }}</p>
    </div>
  </div>
<!-- END QUESTION -->

<br/>

{% if posts %}<h4>Answers</h4>{% endif %}

{% for post in posts %}
  <hr/>
  <blockquote style=" background: #ffffff;  margin: 1.5em 10px; padding: 0.5em 10px;">
    <div class="row">
      <div class="column">
        <div class="vote-buttons">
          <br/>
          <button type="submit" class="vote" data-id="{{ post.pk }}" data-vote="up" style="background-color: Transparent; border: none; margin-left: 40px;"><i class="fa fa-caret-up" style="font-size:48px;"></i></button>
          <p id="_appendHere" style="margin-left: 50px;">{{ post.votes_total }}</p>
          <button type="submit" class="vote" data-id="{{ post.pk }}" data-vote="down" style="background-color: Transparent; border: none; margin-left: 40px;"><i class="fa fa-caret-down" style="font-size:48px;"></i></button>
        </div> <!-- .votebuttons -->
      </div>
      <div class="column">
        <p> {{ post.message }}</p>
        <footer>
          {% if post.children.count < 1 %}
            <p>via {{ post.created_by.username }} | {{ post.created_at}} | {{ post.children.count }} Comment</p>
          {% endif %}
          {% if post.children.count >= 1 %}
            <p>via {{ post.created_by.username }} | {{ post.created_at}} | {{ post.children.count }} Comments</p>
          {% endif %}
          {% if post.created_by == user %}
            <p>|</p><a href="{% url 'community:edit_post' post.question.pk post.pk %}"> Edit</a>
          {% endif %}

        </footer>
      </div>
    </div>

    <style>
      .arrow-up {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        border-bottom: 20px solid black;
      }

      .arrow-down {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        border-top: 20px solid black;
      }

      .column {
        float: left;
      }

      .left {
        width: 35%;
      }

      .right {
        width: 65%;
      }

    </style>

    <div class="" style=" border-left: 20px solid #ffffff; margin: 10px; margin-left: 85px;">
      <hr/>
    </div>

    {% for child_post in post.children %}
      <div class="" style=" border-left: 20px solid #ffffff; margin: 10px; margin-left: 85px;">
        <p><small> {{ child_post.message }}
          - via {{ child_post.created_by.username }} | {{ child_post.created_at }}
          {% if post.created_by == user %} |<a href="{% url 'community:edit_post' child_post.question.pk child_post.pk %}"> Edit</a> {% endif %} </small></p>
          <hr/>
      </div>
      {% endfor %}

    <a href="javascript:showhide('comment-reply')" class="comment-reply-btn" role="button" style="border-left: 10px solid #ffffff; margin-left: 85px;">
      <small>Add a Comment</small>
    </a>

    <div id="comment-reply" style="display:none;">
      <form action="." method="POST">
        {% csrf_token %}
        {{ posts_form|crispy }}
        <input type="hidden" name="parent_id" value="{{ post.pk }}">
        <input type="submit" name="" value="Reply" class="btn btn-primary">
      </form>
    </div>

  </blockquote>
  {% endfor %}


    <hr/>
    <br/>
    <h4>Your Answer</h4>
    <form action="." method="POST">
      <br/>

      {% csrf_token %}
      {{ posts_form|crispy }}
      <input type="submit" name="" value="Reply" class="btn btn-primary">
    </form>

  <!-- JAVASCRIPT -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
    function showhide(id) {
      var e = document.getElementById(id);
      e.style.display = (e.style.display == 'block') ? 'none' : 'block';
    }

    $(".vote").click(function () {
      console.log("IN AJAX")
      var id = $(this).data("id"); //get data-id
      var vote_type = $(this).data("vote"); //get data-vote

      $.ajax({
        type: "POST",
        url: "{% url 'community:upvote' %}",
        data: {
          'id': id,
          'vote_type':vote_type,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data){
          $('#_appendHere').html(data);
        }


      })

    });
  </script>
  <!-- END JAVASCRIPT -->

{% include 'community/includes/pagination.html' %}

{% endblock %}
